body{
    margin: 0;
    font-family: 'Tiny5', sans-serif;
    text-align: center;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
     background-image: 
        linear-gradient(rgba(139, 0, 139, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(139, 0, 139, 0.1) 1px, transparent 1px);
        background-size: 20px 20px;
}

p{
    font-size: 25px;
    color: turquoise;
}

h3{
    font-size: 25px;
    color: turquoise;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: rgb(71, 8, 129);
}

li{
    font-size: 25px;
    color: black;
    background-color: rgb(168, 203, 234);
    width: 60%;
    margin: auto;
    padding: 20px 30px;
    border-radius: 25px;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    color: rgb(71, 8, 129);
    margin-bottom: 20px;
}

.recuadro{
    background-color: rgba(168, 203, 234, 0.556);
    width: 80%;
    padding: 15px 10px;
    height: auto;
    margin: auto;
    border-radius: 25px;
    box-shadow: 10px 20px rgba(0, 0, 0, 0.5);
}
.cuerpo{
   
    margin: auto;
  
}

.listaact{
   
    width: 150%;
    margin: auto;
    border-radius: 25px;
}


.columnaact{
    display: inline-block;
    margin-right: 200px
}   

.foto{
    width: 200px;
    height: auto;
    margin: auto;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.266);
    
}



.container {
    background-color: #111111;
    padding: 30px;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(139, 0, 139, 0.3);
    width: 100%;
    max-width: 900px;
    border: 1px solid #333333;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(0, 191, 255, 0.2), transparent);
    animation: scan 4s linear infinite;
}

@keyframes scan {
    0% { left: -100%; }
    100% { left: 100%; }
}
